.home__featured {
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.08);

  svg,
  img {
    border: 5px solid white;
    min-height: 200px;
    min-width: 300px;
  }

  .home__featured__inner {
    position: relative;
    top: -5px;

    .h-2 {
      font-size: 16px;
      font-style: normal;
      flex: 0 0 75%;
      margin: 0.5rem 0;
      padding: 0 20px;
    }

    span {
      display: block;
      font-family: $font-body;
      margin-top: 0.5rem;
    }
  }
}

.home__featured__inner {
  background-color: white;
  display: flex;

  a {
    align-self: center;
    background-color: color(link);
    color: white;
    flex: 0 0 25%;
    padding: 1.28rem 0;
    text-align: center;
    text-decoration: none;
  }
}

@include breakpoint(min-width 2001px) {
  .home__featured {
    svg,
    img {
      min-width: 400px;
    }
  }
}
