.home__footer {
  position: relative;

  .h-2 {
    @include fluid-type(601px, 1440px, 56px, 96px);
  }
}

.footer__process {
  border: 1px dotted transparent;
  display: inline-block;
  text-decoration: none;

  p {
    @include fluid-type(601px, 1440px, 16px, 18px);
  }

  span {
    @include fluid-type(601px, 1440px, 14px, 16px);
  }

  &:hover {
    border: 1px dotted color(link);
    text-decoration: none;
  }
}

.links__inner {
  @include breakpoint(min-width 1001px) {
    display: flex;
    max-width: rd(700, 940);

    ul {
      flex-basis: 50%;
    }
  }

  li {
    max-width: 200px;

    span {
      color: white;
      margin-left: rd(36, 375);
    }

    a {
      align-items: center;
      border: 1px dotted transparent;
      display: flex;
      flex-direction: row;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover,
      &:focus {
        border: 1px dotted color(link);

        svg g,
        svg path {
          fill: color(link);
        }
      }
    }
  }

  svg g,
  svg path {
    fill: color(white);
    transition: all 0.2s ease;
  }
}

.footer__inner__callout__hmu {
  @include fluid-type(600px, 1400px, 36px, 56px);

  text-decoration: underline;
}

@include breakpoint(min-width 641px) {
  .footer__links__container {
    float: right;
    position: relative;
    top: -150px;
  }

  .link-how-i-made,
  .link-social-accounts {
    ul {
      display: flex;
      flex-direction: row;
      max-width: 600px;
      min-width: 350px;
    }
  }

  .link-how-i-made {
    li {
      flex: 1 1 100%;
    }
  }
  .link-social-accounts {
    li {
      flex: 0 0 33.333%;
    }
  }
}
