.home__section-one__header {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 80vh;
  align-items: center;
}

.home__section-one {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20vh;
    padding-top: 20vh;

    p {
      line-height: 1.7;
    }

    @include breakpoint(min-width 901px) {
      padding-top: 24vh;
      padding-bottom: 20.2vh;
    }
  }

  .h-1 {
    @include fluid-type(601px, 2000px, 28px, 36px);
    color: color(red);
    font-family: $font-body;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    @include fluid-type(601px, 1400px, 24px, 28px);
    font-family: $font-body;
    font-weight: 300;
    line-height: 1.5;
  }
}

.home__section-one__header__link {
  justify-content: flex-end;
  align-self: flex-end;
}
