.home__section-one__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(601px 1000px) {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        flex: 1 1 31.1%;
        margin-right: 16px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  span {
    display: block;
  }
}

.home__section-one__header__intro {
  flex: 1 1 70%;

  .h-1 {
    @include fluid-type(1001px, 1400px, 36px, 96px);
    @include fluid-type(600px, 1000px, 72px, 96px);
  }

  p {
    @include fluid-type(600px, 1400px, 20px, 28px);

    span {
      @include fluid-type(600px, 1400px, 28px, 48px);
    }
  }
}

.home__header__lead {
  @include fluid-type(600px, 1400px, 20px, 28px);
}

@include breakpoint(min-width 1001px) {
  .home__section-one__header {
    align-items: center;
    flex-direction: row;
  }
}
