.latest-updates {
  .icon-link {
    position: absolute;
    right: 16px;
    top: 16px;
    transition: all 0.3s ease;
  }

  #icon-link {
    fill: color(red);
  }

  li {
    background-color: white;
    border-radius: 5px;
    max-width: 350px;
    min-width: 250px;
    position: relative;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background-color: color(red);
      transform: scale(1.06);

      .icon-link {
        transform: scale(1.2);
      }

      #icon-link {
        fill: color(white);
      }

      .color--red,
      .color--text {
        color: white;
      }
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@include breakpoint(max-width 830px) {
  .home__section-one__header ul li {
    margin-right: 0;
    &:first-of-type {
      margin-right: 16px;
    }
  }

  .latest-updates {
    li {
      max-width: none;
    }
  }
}

@include breakpoint(max-width 600px) {
  .home__section-one__header ul li {
    &:first-of-type {
      margin-right: 0;
    }
  }
}
