//index waves animation
.animation-waves {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}


//work/ground-rules animations

#waterBottle {
  animation: waterShake 3s 4s both ease infinite;
  transform-origin: 138px 182px;
}

#vinegarBottle {
  animation: vinegarShake 3s 4s both ease infinite;
  transform-origin: 0px 253px;
}

@keyframes waterShake {
  0% {
    transform: translate(138px, 80px) rotate(0deg);
  }

  10% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  20% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  30% {
    transform: translate(180px, -125px) rotate(0deg);
  }
  40% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  50% {
    transform: translate(180px, -125px) rotate(10deg);
  }
  60% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  70% {
    transform: translate(180px, -125px) rotate(10deg);
  }
  80% {
    transform: translate(180px, -125px) rotate(-10deg);
  }
  90% {
    transform: translate(138px, 80px) rotate(0deg);
  }
  100% {
    transform: translate(138px, 80px) rotate(0deg);
  }
}

@keyframes vinegarShake {
  0% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  10% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  20% {
    transform: translate(0px, 250px) rotate(0deg);
  }
  30% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  40% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }
  50% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  60% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  70% {
    transform: translate(-30px, 43px) rotate(10deg);
  }

  80% {
    transform: translate(-30px, 43px) rotate(-10deg);
  }

  90% {
    transform: translate(0px, 250px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 250px) rotate(0deg);
  }
}

// lighthouse and animations
.icon-lighthouse {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#icon-lighthouse {
  position: absolute;
  bottom: 0;
}

#Clipped {
  transform-origin: center;
  overflow: hidden;
}

#clipped-inner {
  // animation: clipped 20s both infinite ease-in-out;
}
@keyframes clipped {
  0% {
  }

  25% {
    transform: translate(-29.2px, 280px);
  }
  75% {
    transform: translate(-29.2px, 285px);
  }
  100% {
  }
}

#light2 {
  transform-origin: left center;
  animation: light 18.5s both infinite ease-in-out;
  opacity: 0.8;
}

@keyframes light {
  0% {
    opacity: 0.7;
    transform: rotate(0deg) scale(1.1);
  }

  25% {
    transform: rotate(-5deg) scale(1.1);
    // opacity: 1;
  }
  75% {
    transform: translate(10px, 0px) rotate(8deg) scale(1.3);
    // opacity: 1;
  }
  100% {
    opacity: 0.7;
    transform: rotate(0deg) scale(1.1);
  }
}

#wave {
  transform-origin: left;
  position: absolute;
  bottom: 0;
  box-shadow: 0px -5px 16px 0px rgba(0, 0, 0, 0.75);
  animation: wave 20s both infinite ease-in-out;
}

@keyframes wave {
  0% {
    opacity: 1;
  }

  50% {
    transform: translate(-4px, -1px) scale(1.2);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.stars {
  margin: 0 auto;
  display: block;
}
#starsGroup1,
#starsGroup2,
#starsGroup3 {
  opacity: 1;
}
#starsGroup1-inner1 {
  animation: starsFade 15s 2s both infinite ease-in-out;
}

#starsGroup1-inner2 {
  animation: starsFade 15s both infinite ease-in-out;
}
#starsGroup2-inner1 {
  animation: starsFade 18s 1s both infinite ease-in-out;
}

#starsGroup2-inner2 {
  animation: starsFade 15s 2s both infinite ease-in-out;
}

#starsGroup3-inner1 {
  animation: starsFade 15s 1s both infinite ease-in-out;
}

#starsGroup3-inner2 {
  animation: starsFade 17s 3s both infinite ease-in-out;
}

@keyframes starsFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.icon-contact--color {
  animation: iconAirplane 2s 0.2s both ease-in-out infinite;
}

@keyframes iconAirplane {
  0% {
    transform: translate(0px, 0px);
  }

  30% {
    transform: translate(-10px, 5px);
  }

  80% {
    transform: translate(10px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
