@function color($key) {
  @return map-get($colors, '#{ $key }');
}

$colors: (
  'black': #292929,
  'text': #292929,
  'link': #ff545a,
  'red': #ff545a,
  'grey': #e9e9e9,
  'white': #ffffff,
  'bg': #1d252c,
  'bg-grey': #393d3f
);

$bg-light: lighten(color(bg), 5%);

:root {
  --bg-light: $bg-light;
  --header: color(bg);
  --link-hover: color(link);
}

@mixin variable($property, $variable, $fallback) {
  #{$property}: $fallback;
  #{$property}: var($variable);
}

// runs like: @include variable(background, --theme-primary-color, color(blue));

:root {
  @each $color, $variableColor in $colors {
    --#{$color}: #{$variableColor};
  }
}

@each $color, $textColor in $colors {
  .color--#{$color} {
    color: #{$textColor};
    color: var(--#{$color});
  }
}
