:root {
  --bg: color(link);
}

// body {
//   background-color: var(--bg);
// }

$colors: (
  'black': #292929,
  'text': #292929,
  'link': #ff545a,
  'red': #ff545a,
  'grey': #e9e9e9,
  'white': #e2e2e2,
  'bg': #1d252c,
  'bg-grey': #393d3f
);

@function color($key) {
  @return map-get($colors, '#{ $key }');
}

@mixin variable($property, $variable, $fallback) {
  #{$property}: $fallback;
  #{$property}: var($variable);
}

// runs like: @include variable(background, --theme-primary-color, color(blue));

:root {
  @each $color, $variableColor in $colors {
    --#{$color}: #{$variableColor};
  }
}

@each $color, $textColor in $colors {
  .color--#{$color} {
    color: #{$textColor};
    color: var(--#{$color});
  }
}
