*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
ul,
li,
span,
figcaption {
  color: color(black);
  margin: 0;
  padding: 0;

  &::selection {
    background-color: color(red);
    color: white;
    text-shadow: none;
  }
}

ul,
ol {
  list-style: none;
  list-style-position: inside;
}

a {
  color: color(red);

  &::selection {
    background-color: color(red);
    color: white;
  }
}

body {
  background-color: color(bg);
  // border: 2vw solid #f7484e;
}

p {
  line-height: 1.4;

  a {
    font-weight: 600;
    border: 1px solid transparent;
  }
}

.link__read {
  @include fluid-type(601px, 1440px, 14px, 16px);
  border: 1px dotted transparent;
  color: color(red);
  display: block;
  font-weight: 300;
  margin-top: multiBase(1);
  padding: 1rem;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border: 1px dotted color(red);
  }
}

.site__container {
  border: 1.5vw solid color(red);

  @include breakpoint(min-width 901px) {
    border: 1vw solid color(red);
  }

  main {
    padding-bottom: 15vh;
  }
}

.text-level {
  color: color(black);
  font-family: $font-body;
  font-weight: 300;

  a {
    border: 1px solid transparent;
    color: color(red);

    transition: all 0.2s ease;

    &:hover,
    &:focus,
    &:active {
      border: 1px dotted color(red);
    }
  }
}

.text-level-big {
  @include text-sizing('big');
}

.text-level-medium {
  @include text-sizing('medium');
}

.btn--bg {
  @include fluid-type(601px, 1400px, 14px, 16px);
  align-self: flex-end;
  background-color: color(red);
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: $font-body;
  padding: 0.5rem 8%;
  margin-top: multiBase(1.5);
  text-align: center;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid color(red);
  }

  @include breakpoint(max-width 400px) {
    align-self: center;
    width: 100%;
    margin-bottom: 5vh;
  }
}
