*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
ul,
li,
span,
figcaption {
  margin: 0;
  padding: 0;

  &::selection,
  &::-moz-selection {
    background-color: lighten(color(link), 12%);
    color: white;
    text-shadow: none;
  }
}

ul,
ol {
  list-style: none;
  list-style-position: inside;
}

a {
  @include variable(color, --link, color(link));

  &:hover,
  &:focus {
    color: white;
  }

  &::selection {
    @include variable(background-color, --link, color(link));

    color: white;
  }
}

body {
  @include variable(background, --bg, color(bg));

  @include breakpoint(max-width 600px) {
    padding-bottom: 15vh;
  }
}

p {
  line-height: 1.5;

  a {
    border: 1px solid transparent;
    font-weight: 600;
  }

  &:selection,
  &:-moz-selection {
    color: black;
  }
}

.link__read {
  @include fluid-type(601px, 1440px, 14px, 16px);

  border: 1px dotted transparent;
  color: color(link);
  display: block;
  font-weight: 300;
  margin-top: multibase(1);
  padding: 1rem;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border: 1px dotted color(link);
  }
}

.site__container {
  main:not(.post__page .work__page) {
    padding-bottom: 15vh;
  }
}

.link {
  @include fluid-type(601px, 1400px, 14px, 16px);

  cursor: pointer;
  font-family: $font-body;
  text-align: center;

  &.--btn {
    border: 2px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.25s ease-out;

    &:hover {
      backface-visibility: hidden;
      box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.2);
      -moz-osx-font-smoothing: grayscale;
      transform: translateZ(0);
    }
  }

  &.--bg-red {
    @include variable(background-color, --link, color(link));
    @include variable(border-color, --link, color(link));
    @include variable(color, --text-main, color(text-main));

    &:hover {
      background-color: darken(color(link), 3%);
      border-color: darken(color(link), 3%);
    }
  }

  &.--bg-transparent {
    @include variable(background-color, --link, color(link));
    @include variable(color, --link, color(link));
    @include variable(border-color, --link, color(link));

    background-color: transparent;

    &:hover {
      @include variable(background-color, --link, color(link));
      @include variable(color, --text-main, color(text-main));
    }
  }

  &.--small {
    padding: 0.5rem 2rem;
  }

  &.--wide {
    padding: 0.8rem 3rem;
  }

  // TODO: add transparent button, hover for colored bg
  // TODO: add different sized button classes (different based on left/right padding

  @include breakpoint(max-width 400px) {
    align-self: center;
  }
}

.site-alert {
  background-color: color(bg-grey);
  padding: 1rem 0 0.5rem;

  strong {
    font-weight: 700;
  }

  p {
    line-height: 1.6;
    margin-left: 3rem;
  }

  strong,
  p {
    color: white;
    font-family: $font-heading;
  }
}

@include breakpoint(min-width 1101px) {
  .content-align {
    .h-1 {
      max-width: 500px;
    }
  }
}
