*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
ul,
li,
span,
figcaption {
  margin: 0;
  padding: 0;

  &::selection,
  &::-moz-selection {
    background-color: lighten(color(link), 12%);
    color: white;
    text-shadow: none;
  }
}

ul,
ol {
  list-style: none;
  list-style-position: inside;
}

a {
  @include variable(color, --link, color(link));

  &:hover,
  &:focus {
    color: white;
  }

  &::selection {
    @include variable(background-color, --link, color(link));

    color: white;
  }
}

body {
  @include variable(background, --bg, color(bg));

  @include breakpoint(max-width 600px) {
    padding-bottom: 15vh;
  }
}

p {
  line-height: 1.5;

  a {
    font-weight: 600;
    border: 1px solid transparent;
  }

  &:selection,
  &:-moz-selection {
    color: black;
  }
}

.link__read {
  @include fluid-type(601px, 1440px, 14px, 16px);
  border: 1px dotted transparent;
  color: color(link);
  display: block;
  font-weight: 300;
  margin-top: multibase(1);
  padding: 1rem;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border: 1px dotted color(link);
  }
}

.site__container {
  main {
    padding-bottom: 15vh;
  }
}

.btn--bg {
  @include fluid-type(601px, 1400px, 14px, 16px);
  align-self: flex-end;
  background-color: color(link);
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: $font-body;
  padding: 0.5rem 8%;
  margin-top: multibase(1.5);
  text-align: center;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid color(link);
  }

  @include breakpoint(max-width 400px) {
    align-self: center;
    width: 100%;
    margin-bottom: 5vh;
  }
}

.site-alert {
  background-color: color(bg-grey);
  padding: 1rem 0 0.5rem 0;

  strong {
    font-weight: 700;
  }

  p {
    line-height: 1.6;
    margin-left: 3rem;
  }

  strong,
  p {
    color: white;
    font-family: $font-heading;
  }
}

@include breakpoint(min-width 1101px) {
  .content-align {
    .h-1 {
      max-width: 500px;
    }
  }
}
