$smallWidth: 380;
$wideWidth: 1000;

.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  @include clearfix();
  padding: 0 20px;

  &.wrapper--extra-wide {
    max-width: 1440px;
  }

  &.wrapper--wide {
    max-width: 1200px;
  }

  &.wrapper--tablet {
    max-width: 1000px;
  }

  &.wrapper--medium {
    max-width: 800px;
  }

  &.wrapper--medium--alt {
    max-width: 700px;
  }

  &.wrapper--small {
    max-width: 300px;
  }
}

.container--medium-to-small {
  max-width: 550px;
}

.article-loop {
  @extend .wrapper;
}

@include breakpoint(min-width 800px) {
  .article-loop {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  display: flex;
}

.margin-center {
  margin: 0 auto;
}

.section-padding {
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.section-padding--bottom-heavy {
  padding-bottom: 15vh;
  padding-top: 10vh;
}

.section-margin {
  margin-bottom: 15vh;
  margin-top: 10vh;
}

.section-margin--bottom {
  margin-bottom: 15vh;
}

.padding-top-and-bottom {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-top-and-bottom--small {
  padding-top: 8px;
  padding-bottom: 8px;
}

.u-background-white {
  background-color: white;
}

@mixin text-sizing($size) {
  @if $size == 'big' {
    @include fluid-type(601px, 1400px, 24px, 28px);
  } @else if $size == 'medium' {
    @include fluid-type(601px, 1400px, 20px, 24px);
  } @else {
    @include fluid-type(601px, 1400px, 14px, 16px);
  }
}

@include breakpoint(min-width 901px) {
  .position-right {
    position: absolute;
    right: 0;
    z-index: 2;
  }

  .a-spacing--y {
    transform: translateY(150px);
  }
}

// work documentation

.component-colors {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    border: 8px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 125px;
    list-style: none;
    width: 125px;
  }

  span {
    opacity: 0;
  }
}

@include breakpoint(max-width 900px) {
  .component-colors {
    ul {
      align-items: center;
      flex-direction: column;
    }

    li {
      margin-bottom: 5vh;
    }
  }
}
