$smallWidth: 380;
$wideWidth: 1000;

.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.desktop-only {
  display: none !important;
}

.mobile-only {
  display: none !important;
}

.wrapper--responsive {
  @include clearfix();

  padding: 0 20px;

  @include breakpoint(min-width 1441px) {
    max-width: 1240px;
  }

  @include breakpoint(max-width 1440px) {
    max-width: 1000px;
  }
}

.wrapper--responsive--medium {
  padding: 0 20px;

  @include breakpoint(min-width 1441px) {
    max-width: 1240px;
  }

  @include breakpoint(max-width 1440px) {
    max-width: 960px;
  }
}

.wrapper {
  @include clearfix;
  padding-left: 20px;
  padding-right: 20px;

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &.wrapper--extra-wide {
    max-width: 1440px;
  }

  &.wrapper--wide {
    max-width: 1260px;

    @include breakpoint(min-width 1800px) {
      max-width: 1440px;
    }
  }

  &.wrapper--tablet {
    max-width: 1000px;
  }

  &.wrapper--960 {
    max-width: 960px;
  }

  &.wrapper--medium {
    max-width: 800px;
  }

  &.wrapper--780 {
    max-width: 780px;
  }

  &.wrapper--medium--alt {
    max-width: 700px;
  }

  &.wrapper--small {
    max-width: 300px;
  }
}

.container--xxl {
  max-width: 1640px;
}

.container--tablet {
  max-width: 1000px;
}

.container--medium-to-tablet {
  max-width: 900px;
}

.container--medium {
  max-width: 780px;
}

.container--small {
  max-width: 510px;
}

.margin-center {
  margin: 0 auto;
}

.section-padding {
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.section-padding--extra-heavy {
  padding-bottom: 25vh;
  padding-top: 25vh;
}

.section-padding--bottom-heavy {
  padding-bottom: 15vh;
  padding-top: 10vh;
}

.section-margin {
  margin-bottom: 15vh;
  margin-top: 10vh;
}

.display--block {
  display: block;
}

// work documentation
.component-colors {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    border: 8px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 125px;
    list-style: none;
    width: 125px;
  }

  span {
    opacity: 0;
  }
}

@include breakpoint(max-width 900px) {
  .component-colors {
    ul {
      align-items: center;
      flex-direction: column;
    }

    li {
      margin-bottom: 5vh;
    }
  }
}

// margin
$spacings: '8', '14', '16', '32', '48', '64', '80', '96';

@each $spacing in $spacings {
  .margin-top--#{$spacing} {
    margin-top: #{$spacing}px;
  }

  .margin-bottom--#{$spacing} {
    margin-bottom: #{$spacing}px;
  }

  .padding-bottom--#{$spacing} {
    padding-bottom: #{$spacing}px;
  }

  .margin-top-and-bottom--#{$spacing} {
    margin-bottom: #{$spacing}px;
    margin-top: #{$spacing}px;
  }

  .padding-top-and-bottom--#{$spacing} {
    padding-bottom: #{$spacing}px;
    padding-top: #{$spacing}px;
  }

  .padding-left-and-right--#{$spacing} {
    padding-left: #{$spacing}px;
    padding-right: #{$spacing}px;
  }
}

.margin-bottom--15vh {
  margin-bottom: 15vh;
}

.margin-top--15vh {
  margin-bottom: 15vh;
}

.min-height--50vh {
  height: 50vh;
  max-height: 700px;
}

.min-height--85vh {
  max-height: 800px;
}

.min-height--100vh {
  height: 100vh;
  max-height: 1000px;
}

.home__big-text {
  @include text-sizing(big);
}

.home__medium-text {
  @include text-sizing(medium);
}

.u-flex-align--right {
  align-self: flex-end;
}

.u-float--right {
  float: right;
}

.link {
  &.--h-text-decoration-underline {
    &:hover {
      @include variable(text-decoration-color, --link, color(link));
    }
  }

  &.color--red,
  &.color--link {
    border: 1px dotted transparent;

    &:hover,
    &:focus {
      @include variable(border-color, --link, color(link));
      @include variable(color, --link, color(link));
    }
  }
}
