.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

$smallWidth: 380;
$wideWidth: 1000;

.wrapper {
  padding: 0 20px;

  &.wrapper--wide {
    max-width: 1200px;
  }

  &.wrapper--tablet {
    max-width: 1000px;
  }

  &.wrapper--medium {
    max-width: 800px;
  }
}

.row {
  display: flex;
}

.margin-center {
  margin: 0 auto;
}

.section-padding {
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.section-margin {
  margin-bottom: 15vh;
  margin-top: 10vh;
}

.section-margin--bottom {
  margin-bottom: 15vh;
}

@mixin text-sizing($size) {
  @if $size == 'big' {
    @include fluid-type(600px, 1400px, 24px, 28px);
  } @else if $size == 'medium' {
    @include fluid-type(600px, 1400px, 20px, 24px);
  } @else {
    @include fluid-type(600px, 1400px, 14px, 16px);
  }
}
