.archive__page {
  h2 {
    @include fluid-type(601px, 1440px, 16px, 18px);
    font-weight: 400;
  }

  .post__header-inner {
    h3 {
      @include fluid-type(601px, 1440px, 28px, 36px);

      font-weight: 600;
    }
  }
}

.archive__featured__post {
  background-color: color(bg-grey);
  height: 90vh;
  margin-bottom: multiBase(5);
  max-height: 900px;
  min-height: 300px;
  padding-top: 26vh;

  h2 {
    color: white;
  }
}

.featured__inner {
  min-height: 300px;

  h3 {
    color: white;
    margin-top: 10.7vh;
  }

  p {
    color: white;
    margin-top: 6.7vh;
  }

  span {
    color: color(red);
    display: block;
    font-style: italic;
    margin-bottom: 0.8rem;
  }
}

.archive__list {
  h2 {
    font-weight: 600;
    margin-bottom: multiBase(2);
    text-shadow: 2px 2px 2px lighten(color(black), 65%);

    @include fluid-type(601px, 1440px, 24px, 28px);
    span {
      color: color(red);
    }
  }

  ul {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    margin-bottom: multiBase(3);
    width: 100%;

    @include breakpoint(min-width 901px) {
      max-width: 48%;

      flex: 1 1 50%;
    }
  }

  a {
    background-color: color(grey);
    border: 1px solid color(black);
    display: flex;
    flex-direction: row;
    padding: multiBase(1.5);
    text-decoration: none;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    * {
      border-bottom: 1px solid transparent;
    }

    &:hover {
      * {
        border-bottom: 1px solid color(red);
      }
    }

    &:focus {
      * {
        border: 2px dotted color(red);
      }
    }
  }

  img,
  svg {
    max-width: 50px;
  }
}

.archive__item-inner {
  h3 {
    font-weight: 500;
    margin-bottom: multiBase(0.4);

    @include fluid-type(601px, 1440px, 16px, 18px);
  }

  p {
    @include fluid-type(601px, 1440px, 14px, 16px);
  }
}
