.contact__page {
  section {
    padding-bottom: 16.2vh;
    padding-top: 12.2vh;
  }

  .h-1 {
    @include fluid-type(600px, 1400px, 36px, 96px);
  }

  p {
    @include fluid-type(601px, 1440px, 15px, 16px);

    line-height: 1.6;
    margin-bottom: multiBase(1);
    max-width: 500px;

    &:nth-of-type(2) {
      margin-bottom: multiBase(3);
    }
  }

  form > * {
    display: block;
  }

  form {
    label {
      color: color(link);
      font-family: $font-heading;
      font-weight: 600;
      margin-bottom: multiBase(0.5);
      margin-top: multiBase(2);
    }

    input,
    textarea {
      max-width: 500px;
      width: 100%;
    }

    input {
      min-height: 40px;
    }

    input:focus + label {
      position: relative;
    }

    textarea {
      min-height: 130px;
    }
  }
}
