.home-page {
  @include variable(background, --bg-secondary, color(bg-secondary));

  p {
    line-height: 1.6;
  }
}

.home__big-text,
.home__medium-text {
  a {
    text-decoration: underline;
    border: 1px dotted transparent;

    &:hover,
    &:focus {
      @include variable(border-color, --link, color(link));
    }
  }
}

.home__section-two__text-and-image {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home__section-two__text-and-image__text {
  flex: 1 1 70%;
}

.home__section-two__text-and-image__image {
  flex: 1 1 30%;
  margin-bottom: 5rem;
  margin-top: 5rem;

  img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
  }
}

.home__section__aside-emoji {
  span {
    @include fluid-type(600px, 1400px, 102px, 196px);

    display: block;
    text-align: center;
  }

  .icon-write {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 150px;
  }
}

@include breakpoint(min-width 601px) {
  .home__section-two {
    .latest-updates {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      li {
        flex: 0 0 45%;
      }
    }
  }
}

@include breakpoint(min-width 1201px) {
  .home__section-two__text-and-image {
    align-items: center;
    flex-direction: row;
  }

  .home__section-two__text-and-image__image {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    right: -54%;
    top: 40px;
    z-index: 1;

    img {
      max-width: 100%;
    }
  }

  .home__section__aside-emoji {
    span {
      position: absolute;
      right: 10%;
    }
  }
}

// references detail-list.scss
.home__section-three__row {
  position: relative;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
}

.align-center-under--1200 {
  @include breakpoint(max-width 1200px) {
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(max-width 1200px) {
    .home__section-three__row__col-left,
    .home__section-three__row__col-right {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
