.home-page {
  display: flex;
  flex-direction: column;

  p {
    opacity: 0.92;
  }
}

.home__section-one,
.home__section-two {
  .h-2 {
    @include fluid-type(601px, 1400px, 24px, 28px);
    color: color(black);
    font-weight: 300;
    margin-bottom: 2rem;

    span {
      color: color(red);
    }
  }
}

.home__section-one__header__col-left {
  @include breakpoint(min-width 901px) {
    flex: 0 0 49%;
    margin-bottom: 0;
  }

  @include breakpoint(max-width 900px) {
    margin: 0 auto 10vh auto;
  }
}

.home__section-one__header__col-left__inner {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.home__section-one__header__col-right {
  display: flex;
  justify-content: space-around;
  flex: 0 0 100%;

  @include breakpoint(min-width 901px) {
    svg {
      min-height: 200px;
      min-width: 300px;
    }

    flex: 0 0 49%;
    justify-content: flex-end;
  }
}

.home__section-two__row {
  p {
    line-height: 1.8;
  }

  p ~ p {
    margin-top: multiBase(3.8);
  }
}

.home__section-three__row {
  flex-wrap: wrap;
  position: relative;

  p {
    line-height: 1.8;
  }

  p ~ p {
    padding-bottom: 5rem;
    padding-top: 0;
  }

  @include breakpoint(min-width 901px) {
    .home__section-three__row__col-left {
      margin-bottom: 0;
    }

    p {
      padding: 0 2rem 2rem 2rem;

      &.paragraph-padding {
        padding-top: 3rem;
      }
    }
  }

  @include breakpoint(max-width 900px) {
    p {
      padding: 10vh 0;
    }
  }
}

.home__section-three__row__col-left {
  flex: 0 0 100%;

  @include breakpoint(min-width 901px) {
    flex: 0 0 75%;
    margin-bottom: 0;
  }
}

.home__section-three__row__col-right {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-around;

  @include breakpoint(min-width 901px) {
    flex: 0 0 25%;
  }
}

@include breakpoint(max-width 900px) {
  .home__section-three__row__col-right {
    position: relative;
  }

  .home__section-three__row .u-background-white {
    background-color: transparent;
  }
}

@include breakpoint(min-width 901px) {
  .home__section-three__row {
    .home__section-three__row__col-left:first-of-type {
      p {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }

    &:nth-of-type(2) {
      p {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }

    &:nth-of-type(3) {
      p:first-child {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
      p:nth-child(2) {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
      }
    }
  }
}
