.work__header {
  @include variable(background-color, --header, color(bg))
  display: flex;
  min-height: 80vh;

  .h-1 {
    @include fluid-type(601px, 1440px, 28px, 56px);
    color: white;
    font-weight: 600;
    margin: 0 0 0 0;

    &:not(span) {
      text-shadow: 2px 2px 2px lighten(color(black), 10%);
    }

    line-height: 1.5;
  }
}

.work__header-inner {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.work__header-inner--right {
  img,
  svg {
    height: auto;
    max-width: 100%;
    width: 500px;
  }

  p {
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;
  }
}

@include breakpoint(max-width 900px) {
  .work__header-inner {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
  }

  .work__header-inner--left {
    margin-top: 20vh;
  }

  .work__header-inner--right {
    margin-top: 20vh;
    margin-bottom: 20vh;
  }
}

@include breakpoint(min-width 901px) {
  .work__header-inner {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.work__header-inner {
  p {
    color: white;
    font-weight: 200;
    line-height: 1.6;
    margin: rem(42) 0 0 0;

    span {
      color: white;
      display: block;
      font-size: 1rem;
      font-weight: 600;
      margin: 0 0 0.6rem 0;
    }
  }
}
