/* sm: 576px; */
/* md: 768px; */
/* lg: 992px; */
/* xl: 1200px; */

.global-nav {
  a {
    @apply .font-sans .text-base .text-black .no-underline;
  }

  .text {
    @apply .mr-2;
  }
}

.nav__left__img {
  order: 2;
}

.announcement--animate {
  animation: announcement 0.9s 0.6s ease both;
}

@keyframes announcement {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .global-nav {
    a {
      @apply text-lg;
    }

    .text {
      @apply .ml-2;
    }
  }

  .nav__left__img {
    order: 0;
  }
}
