/* sm: 576px; */
/* md: 768px; */
/* lg: 992px; */
/* xl: 1200px; */

* {
  box-sizing: border-box;
}

body {
  @apply .text-black .bg-purple .text-white;

  font-family: 'Raleway', sans-serif;
  max-width: 100%;
}

ul {
  padding-left: 0;
}

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.link--special {
  @apply .p-1 .font-semibold .text-white;
  @apply .italic .rounded .no-underline;
}

body {
  background-image: url('../../static/assets/bg-pattern.svg');
}

nav,
li,
a {
  transition: all 0.2s ease-in;
}

a {
  color: inherit;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}

a::after {
  border-bottom: 2px solid;
  @apply border-red;
  bottom: 0;
  content: '';
  display: inline-block;
  left: 0;
  height: 1em;
  position: absolute;
  margin-top: 5px;
  width: 100%;
}

a:hover::after {
  border-bottom: 4px solid;
  @apply border-red;
}

a.no-border-bottom::after {
  border-bottom: 0px solid;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

.waves {
  position: fixed;
  bottom: 0;
  left: -206px;
  z-index: 1;
}

main {
  position: relative;
  z-index: 4;
}

@media screen and (min-width: 992px) {
  .max-h-650 {
    max-height: 650px;
  }
}

.home,
.writings-page,
.projects-page {
  li.list-special {
    list-style: none;
    position: relative;
  }

  li.list-special::before {
    color: #ef6f6c;
    /* color of bullet or square */

    content: '\2022';
    /* Unicode of character to precede the list item */

    font-size: 3em;
    /* em or %*/

    padding-right: 1.1225em;
    /* use em*/

    position: absolute;
    left: -32px;
    top: 0em;
    line-height: 0.34;
  }
}

.wave-1 {
  animation: wavesOnTheMove 15s ease 0s infinite both;
}

.wave-2 {
  animation: wavesOnTheMove 15s ease 4s infinite both;
}

.wave-3 {
  animation: wavesOnTheMove 15s ease 2s infinite both;
}

@keyframes wavesOnTheMove {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(100px, 20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.post__page {
  h1 {
    @apply text-3xl px-4;
  }
}

/* 
.wp-columns {
  @apply .max-w-mdlg .mx-auto .font-serif .px-2 .md-px-0;

  div {
    @apply .md--mx-4 .flex .flex-col .md-flex-row;
  }
  p {
    @apply .md-w-1-2 .md-px-4 .mb-8 .opacity-90;
  }
} */

.post__page__inner {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  div,
  p {
    @apply max-w-mdlg leading-loose mx-auto font-serif mb-8 px-4 opacity-90;
  }

  ul {
    @apply max-w-mdsm;
    list-style-position: inside;
  }

  p {
    @apply text-base;
  }

  a {
    @apply no-underline;
  }

  blockquote {
    @apply italic max-w-mdlg leading-loose mx-auto font-serif mb-8 opacity-90 py-4;
    border-bottom: 2px solid #f49a98;
    border-top: 2px solid #f49a98;

    p,
    cite {
      @apply pl-4;
    }
  }
}

.wp-block-button {
  @apply .text-center mb-8;
}

.wp-block-embed {
  @apply my-16 mx-0 block;

  iframe {
    @apply mx-auto block;
    max-width: 100%;
  }
}
.wp-block-text-columns {
  @apply flex flex-col max-w-mdlg mx-auto;

  .wp-block-column {
    @apply opacity-90;
  }
}

.wp-block-gallery.columns-2 {
  @apply flex flex-col max-w-3xl mx-auto;

  .blocks-gallery-item {
    @apply list-reset w-full px-4;
  }
}

.wp-block-image {
  @apply max-w-lg mx-auto my-16;

  img {
    @apply h-auto block mx-auto;
  }
}

.wp-block-code {
  @apply flex px-4 py-8 my-8 mx-auto bg-black text-white;

  code {
    @apply mx-auto;
  }
}

.wp-block-image figcaption {
  @apply text-center italic text-sm px-4;
}

@media screen and (min-width: 768px) {
  .wp-block-gallery.columns-2 {
    @apply flex-row;

    .blocks-gallery-item {
      @apply w-1-2;
    }
  }

  .post__page {
    h1 {
      font-size: 64px;
    }

    blockquote {
      @apply italic max-w-mdlg leading-loose mx-auto font-serif mb-8 opacity-90;
      border-left: 2px solid #f49a98;
      border-bottom: 0px;
      border-top: 0px;

      p,
      cite {
        @apply pl-8;
      }
    }
  }

  .wp-block-text-columns {
    @apply flex-row px-0;

    .wp-block-column {
      @apply w-1-2;
    }

    .wp-block-column:first-of-type {
      @apply pr-4;
    }

    .wp-block-column:last-of-type {
      @apply pl-4;
    }
  }

  .md-order-1 {
    order: 1;
  }

  .md-order-2 {
    order: 2;
  }
}
