/* sm: 576px; */
/* md: 768px; */
/* lg: 992px; */
/* xl: 1200px; */

* {
  box-sizing: border-box;
}

body {
  @apply .text-black;
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
}

ul {
  padding-left: 0;
}

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.link--special {
  @apply .p-1 .font-semibold .text-white;
  @apply .italic .rounded .no-underline;
}

body {
  background-image: url('../../static/assets/bg-pattern.svg');
}

nav,
li,
a {
  transition: all 0.2s ease-in;
}

a {
  color: inherit;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 5px;
  @apply border-red;
}

a:hover::after {
  border-bottom: 4px solid;
  @apply border-red;
}

a.no-border-bottom::after {
  border-bottom: 0px solid;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

.waves {
  position: fixed;
  bottom: 0;
  left: -206px;
  z-index: 1;
}

main {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .max-h-650 {
    max-height: 650px;
  }
}

.home {
  li.list-special {
    list-style: none;
    position: relative;
  }

  li.list-special::before {
    color: #ef6f6c;
    /* color of bullet or square */

    content: '\2022';
    /* Unicode of character to precede the list item */

    font-size: 3em;
    /* em or %*/

    padding-right: 1.1225em;
    /* use em*/

    position: absolute;
    left: -32px;
    top: 0em;
    line-height: 0.34;
  }
}
