@import '_scss/vendor/breakpoint.scss';
@import '_scss/base/colors.scss';
@import '_scss/build/reset';
@import '_scss/build/functions';
@import '_scss/build/mixins';
@import '_scss/base/typography.scss';
@import '_scss/base/utilities.scss';
@import '_scss/base/elements.scss';

// page or component pieces
@import '_scss/components/components';
@import '_scss/pages/index';
@import '_scss/pages/post';
@import '_scss/pages/work-preview';
@import '_scss/pages/work';
@import '_scss/pages/contact';
// @import '_scss/pages/404';

tt,
code {
  @include variable(background-color, --link, color(link));
  @include variable(color, --text, color(white));

  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
